{
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}


.background-{
 background-image: ("11.jpg");
background-size: contain;
background-repeat: no-repeat;
width: 2000px;
height: 2000px;
}

p{
    margin-left: 20px;
margin-right: 20px;
}

.home{
align-content: center;
margin-left: 20px;
margin-right: 20px;
font-size: 16px;

}

.about{
    align-content: center;
margin-left: 20px;
margin-right: 20px;
font-size: 16px;
}
.contact{
    background-color: aliceblue;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items:center;
    justify-content: center;
}

.form{
width: 90%;
max-width: 600px;
}

.input-group{
margin-bottom: 30px;
}
.label{
height: 100%;
position: absolute;
top: 0;
left: 0;
color: #fff;
cursor: text;
}